---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stack</title>
	</head>
	<body>
		<h1>Bienvenido Santiago a: Stacksolver tech - Editando!</h1>
		<p>Esta es mi página de inicio.</p> justo debajo del <h1></h1>
	</body>
</html>
