---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/HeroSection.astro';
import FeaturesGrid from '../components/FeaturesGrid.astro';
import IntegrationsSection from '../components/IntegrationsSection.astro'; // <-- 1. Importar el nuevo componente

const pageTitle = "Stacksolver Tech | Soluciones Tecnológicas Innovadoras";
---
<BaseLayout title={pageTitle}>
  <main>
    <HeroSection />
     <IntegrationsSection /> {/* <-- 2. Añadir el componente a la página */}
    <FeaturesGrid />
   
    {/* Aquí podrían ir otras secciones en el futuro */}
  </main>
</BaseLayout>

<style>
  main {
    /* Puedes añadir estilos globales para el 'main' si es necesario,
       o dejar que cada sección controle su propio padding y background. */
  }
</style>