---
---

<header>
    <p>Encabezado del sitio 4:41pm</p>
  </header>
  
  <style>
    header {
      background-color: #f0f0f0; /* Un fondo gris claro para el encabezado */
      padding: 1rem; /* Espacio interior */
      text-align: center; /* Centra el texto */
    }
  </style>